body{
    padding: 0px;
    margin: 0px;
}
#title{
    text-align: center;
    background-color: aliceblue;
}
.box{
    background-color: rgb(13, 109, 104);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    justify-content: center;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
}